.dashboardButton {
    background-color: rgb(253, 253, 253);
    border: 2px solid rgb(219, 188, 188);
    color: rgb(219, 188, 188);
    font-family: 'Poppins',sans-serif;
    line-height: 32px;
    font-weight: 600;
    border-radius: 200px;
    box-sizing: content-box;
    align-items: flex-start;
    display: inline-block;
    font-size: 20px;
    margin: 1px 2px 1px 2px;
    text-decoration: none;
    max-width: 150px;
    outline-offset: 2px;
    overflow: hidden;
    padding: 10px 24px;
    text-align: left;
    text-overflow: ellipsis;
    transition: border-color,background-color .5s ease;
    white-space: nowrap;
  }

  .dashboardButton:hover, .dashboardButton:active {
    background-color: rgb(219, 188, 188);
    color: rgb(253, 253, 253);
}

.button{
    background-color: transparent;
    border: 6px solid #F3DADA;
    color: #737373 !important;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 12px;
    text-overflow: ellipsis;
}

#buttoncode{
    border: 2px solid #B3CCFF;
    color: #595959;
    background-color: #E6F7FF;
}

    .wrapper {
    text-align: center;
}
 
    @media screen and (max-width: 450px) {
    h1{
        font-size: 40px;
    } 
  
    h2{
        font-size: 25px;
    } 
  
    h3{
        font-size: 15px;
    } 

    #buttoncode{
        font-size: 11px;
    }  
}
  
