body{
    background-color: #fffdfd;
    max-width: 90%;
    margin: auto;
}

h1, h2, h3, p{
    color: #000000;
    font-family: 'Bodoni Moda', serif;
}

h1{font-size:40px}
h2{font-size:30px}
h3{font-size:20px}
p{font-size:18px}


.bold {
    font-weight:bold
}

.chart {
    width: 45%;
    min-width: 350px;
    padding: 20px;
    background-color:#fffdfd;
    border: #fffdfd;
    border-radius: 5px;
    font-family: 'Bodoni Moda', serif;
    font-size: 10pxp;
    text-align: center
    transition: border-radius 400ms, flex-grow 1000ms;
}



/* --------------------------------------CONTENT IN BODY----------------------------------------------*/

/* Flexbox container with home page graphs */
.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;;
  gap: 15px 15px;
  margin-top: 15px;
  border-style: solid;
  border-color: rgb(219, 188, 188);
  padding: 20px;
  border-radius: 100px;
    
.image-wk9 {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

