body{
    background-color: #fffdfd;
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}

h1, h2, h3, p{
    color: #000000;
    font-family: 'Bodoni Moda', serif;
}

h1{font-size:50px}
h2{font-size:40px}
h3{font-size:25px}
p{font-size:20px}


.bold {
    font-weight:bold
}

.content{
  padding-top: 45px;
  padding-bottom: 20px;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    min-width: 400px;
    height: 400px;
    margin: 5px;
    padding: 5px;
    background-color:#fffdfd;
    border: #fffdfd;
    border-radius: 5px;
    font-family: 'Bodoni Moda', serif;
    font-size: 10pxp;
    text-align: center
    transition: border-radius 500ms, flex-grow 1000ms;
}



/* --------------------------------------CONTENT IN BODY----------------------------------------------*/

/* Flexbox container with home page graphs */
.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;;
  gap: 5px 5px;
  margin-top: 5px;
  border-style: solid;
  border-color: rgb(219, 188, 188);
  padding: 10px;
  border-radius: 100px;

.button{
    background-color: transparent;
    border: 6px solid #F3DADA;
    color: #737373 !important;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 12px;
    text-overflow: ellipsis;
}

#buttoncode{
    border: 2px solid #B3CCFF;
    color: #595959;
    background-color: #E6F7FF;
}

    .wrapper {
    text-align: center;
}
