body{
    background-color: #fffdfd;
    max-width: auto;
    margin: auto;
    text-align: center;
    width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fffdfd;
}
::-webkit-scrollbar-thumb {
  background: #dbbcbc;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


h1, h2, h3 {
    color: #000000;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

p{
    color:#000000;
    font-family: 'Bodoni Moda', serif;
    text-align: center;
}

h1{font-size:35px}
h2{font-size:25px}
h3{font-size:20px}
p{font-size:18px}


.bold {
    font-weight:bold
}

.chart {
    width: 45%;
    min-width: 350px;
    margin: 10px;
    padding: 10px;
    background-color: #fffdfd;
    border: transparent;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#containerbutton{
    justify-content: center;
    text-align: center;
    padding: 10px;
}

/*inspired by Chris Brierley */
.navigation {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 30%;
  background: #fffdfd no-repeat center fixed;
  transition: 0.7s;
  overflow: hidden;
  color: #7a6a6a;
  font-family: 'Poppins',sans-serif;
}

.navigation:hover,
.navigation.active {
  width: 25px;
}

.navigation ul {
  position: left;
  top: 100%;
  left: 100%;
  width: 30%;
}

.navigation ul li {
  position: top;
  width: 30%;
  list-style: none;
}

.navigation ul li:hover {
  background: #fffdfd;
  transition: 1s ease;
  color: #555
}

.navigation ul li a {
  position: top;
  width: 30%;
  display: flex;
  text-decoration: none;
  color: #DBBCBC;
}

.navigation ul li a:hover {
  color:#6a6a7a;
}

.navigation li a.active {
    background-color: #caa08a;
    color: #7a6a6a;
    font-weight: 900;
}

.navigation ul li a .icon {
  position: top;
  display: block;
  min-width: 50px;
  height: 0px;
  line-height: 70px;
  text-align: left;
}

.navigation ul li a .icon .fa {
  font-size: 18px;
}

.navigation ul li a .title {
  position: left;
  display: block;
  padding: 0 0px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
}

/* --------------------------------------CONTENT IN BODY----------------------------------------------*/

/* Flexbox container with home page graphs */
.bcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px 5px;
    margin-top: 5px;
    border-style: solid;
    border-color: #fffdfd;
    padding: 5px;
    border-radius: 35px;
    text-align: center;
    
#containerbutton{
    justify-content: center;
    text-align: center;
    padding: 10px;
}
 
.image-wk9 {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

